<launch>
    <node name="sensor_fusion_system" pkg="sensor_fusion_system" type="sensor_fusion_system_node" output="screen"/>
    <!-- get parameter from config file path-->
    <param name="config_path" type="str" value="$(find sensor_fusion_system)/config/config.yaml"/>
    <!-- make your launch file to use your project. -->
</launch>